html {
    background-color: rgb(225, 236, 245);
}

body {
    margin: 0 auto;
    padding: 2% 3% 4%;
    max-width: 800px;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
/*    background-color: white;*/
}

header {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(0, 0, 0);
    font-family: sans-serif;
}

h1 {
    font-family: serif;
}

h3, h4, h5, h6 {
    padding-left: 2%;
    padding-right: 2%;
}

#mainIcon {
/*    display: inline;*/
    float: left;
    width: 26%;
/*    line-height: 263px;*/
/*    vertical-align: middle;*/
    min-width: 150px;
    margin-bottom: 2%;
}

h1 {
/*    height: 163px;*/
    display: inline-block;
/*    min-height: 80px; */
/*    line-height: 63px;*/
/*    vertical-align: middle;*/
/*    float: right;*/
    }




/* The NavBar */

nav {
    display: inline-block;
    width: 100%;
    margin-bottom: 1%;
/*    padding: 2%;*/
    border: 1px solid white;
    background: rgb(184, 190, 211);
    border-radius: 10px;
    border: 1px solid #69696a;
/*    height: 60px;*/
    }
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: inherit;
    
}

nav li {
/*    line-height: 25px;*/
    display: block;
/*
    justify-content: center;
    align-items: center;
*/
    width: 24.8%;
    max-width: 150px;
    float: left;
    height: inherit;
    font-size: 23px;
/*    line-height: 35px;*/
/*    border: 1px solid white*/
    height: 52px;
    padding-top: 4px;
    padding-bottom: 4px;
  }

nav li a{
    display: inline-block;
    width: 100%;
    height: inherit;
/*    background: rgb(49, 57, 78);*/
  /*    color: rgb(1, 73, 105);*/
}

.inactive{
/* background: black;*/
    color: black;
}



/* The Details / Summary Boxes in the Header */

header details {
    font-size: 18px;
    clear: both;
/*    clear: left;*/
    display: block;
    padding-left: 3%;
    padding-right: 3%;
/*    border: 1px solid white;*/
    padding-top: 0.25%;
    padding-bottom: 0.25%;
    margin-top: 0.25%;
    margin-bottom: 0.25%;
}

header details p {
    padding-left: 1.5em;
    text-indent: -1.5em;
    text-align: left;
    font-size: 16px;
/*    line-height: 20px;*/
}

header details ul, ol {
    font-weight: bold;
/*    text-decoration: underline;*/
    text-align: left;
    line-height: 160%;
}

header details ul ul {
/*    line-height: 20px;*/
    font-weight: normal;
    text-decoration: none;
    font-size: 15px;
}
/*Put summary below details so it inherits details stuff but overrides it.*/
header summary {
    font-weight: bold;
    font-size: 18px;
}

main {
    font-size: 18px;
}

main p {
    width: 91%;
    padding-left: 4%;
    padding-right: 4%;
}

strong {
    color: rgb(221, 29, 67);
    font-weight: bold;
/*    font-size: 150%;*/
}

#namelist {
    display: table;
    font-size: 110%;
}

.pgyClass {
    align-self: center;
    vertical-align: top;
    display: block;
/*    display: table-cell;*/
    float:left;
    min-width:  250px;
    width: 32%;
    margin: 0.4%;
    min-height: 1100px;
    /* background: black;
    */
}

.pgyClass h2 {
    text-align: center;
/*    color: rgb(0, 0, 0);*/
}

ol, ul {
    line-height: 155%;
    margin-left: 3%;
    margin-right: 3%;
/*    padding-top: 0%;*/
}

#namelist li {
/*    padding: 2%;*/
}

#otherRotations ul {
    line-height: 185%;
}

a {
    color: rgb(177, 134, 55);
    text-decoration: none;
}

a:hover {
    background: rgb(171, 201, 242);
}

footer {
    margin-top: 5%;
    padding: 2%;
    text-align: center;
    clear: left;
}

/* Small screen take over */
@media only screen 
    and (max-device-width : 736px) 
/*736px catches everything up to the iPhone 6 Plus*/
/*For reasons I don't understand yet, using max-width works when you shrink a browser window but not on the iPhone*/
{
    body {
        padding: inherit;
/*        background: black;*/
/*        font-size: 60px;*/
        font-size: 380%;
    }
    
    h1 {
        font-size: 120%;
        }
        
    details {
        display: none;
/*        visibility: hidden;*/
    }
    
    main {
        font-size: inherit;
    }
    
    p {
        padding: inherit;
/*        font-size: inherit; */
    }
    
    ol, ul {
        margin: inherit;
        font-size: inherit;
    }
    
    .pgyClass {
        display: inline;
        width: 95%;
        align-content: stretch;
    }
    .pgyClass li {
        padding: 1%;
    }
    footer {
        font-size: 70%;
    }
}