html {
    background-color: rgb(1, 73, 105);
}

header {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(255, 250, 240);
    font-family: serif;
}

h3, h4, h5, h6 {
    padding-left: 2%;
    padding-right: 2%;
}

img {
    display: inline;
    float: left;
    line-height: 263px;
    vertical-align: middle;
    min-width: 130px;
}

h1 {
    height: 263px;
    display: block;
/*    line-height: 263px;*/
    vertical-align: middle;
/*    float: right;*/
    }

body {
    margin: 0 auto;
    padding: 1em 2em 4em;
    max-width: 800px;
    font-family: sans-serif;
    color: rgb(252, 177, 93);
}

/*.intro {*/
/*    text-align: center;*/
/*}*/

details {
    clear: left;
    inline-block;
    padding-left: 5%;
    padding-right: 5%;
    border: 1px solid white;
}

details p {
    padding-left: 1.5em;
    text-indent: -1.5em;
    text-align: left;
}

summary {
    font-weight: bold;
}

main, details {
    font-size: 18px;
}

main p {
    width: 91%;
    padding-left: 4%;
    padding-right: 4%;
}

strong {
    color: rgb(221, 29, 67);
    font-size: 150%;
}

#namelist {
    display: table;
    font-size: 110%;
}

.pgyClass {
    align-self: center;
    vertical-align: top;
    display: block;
/*    display: table-cell;*/
    float:left;
    min-width:  250px;
    width: 32%;
    margin: 0.4%;
    min-height: 1100px;
    /* background: black;
    */
}

.pgyClass h2 {
    text-align: center;
    color: rgb(255, 140, 0);
}

ol, ul {
    line-height: 185%;
    margin-left: 3%;
    margin-right: 3%;
}

#namelist li {
/*    padding: 2%;*/
}

a {
    color: rgb(255, 235, 205);
    text-decoration: none;
}

a:hover {
    background: grey;
}

footer {
    margin-top: 5%;
    padding: 2%;
    text-align: center;
    clear: left;
}

/* Small screen take over */
@media only screen and (max-width: 650px) {
    body {
        padding: inherit;
/*        background: black;*/
        font-size: 18px;
    }
    
    details {
        display: none;
/*        visibility: hidden;*/
    }
    
    p {
        padding: inherit;
    }
    
    ol, ul {
        margin: inherit;
        
    }
    
    .pgyClass {
        display: inline;
        width: 95%;
        align-content: stretch;
    }
    .pgyClass li {
        padding: 1%;
    }
    footer {
        font-size: 80%;
    }
}